<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="./vendor/autoload.php">
    <php>
        <server name="API_KEY" value="API KEY HERE" />
        <server name="SERPS_DAILY_KEYWORD" value="KEYWORD HERE" />
        <server name="SERPS_WEEKLY_KEYWORD" value="KEYWORD HERE" />
        <server name="SERPS_DIRECT_KEYWORD" value="KEYWORD HERE" />
    </php>
    <testsuites>
        <testsuite name="Zedwoo Data API Client">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>